/* define document colors */
:root{
  --bg1: #4D4B4A;
  --bg2: #535145;
  --main: #efdab9;
  --select: #574c4f;
  --accent1: #ffd152;
  --accent2: #78b0a0;
}

::selection{
  color: var(--bg1);
  background-color: #B2DFDB;
}

html{
  height: 100%;
}

body, h1, h2, h3, p, div, label, input, textarea, select, option, main, footer, ul, li, img{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/background-image.png);
  /* background-position: center; */
  /* background-image: linear-gradient(to bottom, var(--bg1), var(--bg2)); */
  /* background-image: radial-gradient(ellipse closest-side at 50% 50%, #393e44, #36383b 25%, #343233); */
  background-color: #4C4B49;
  margin: 0;
  background-repeat: no-repeat;
  /* background-size: cover; */
  font-family: nunito, arial, sans-serif;
  font-weight: 100;
  color: var(--main);
}

a{
  text-decoration: none;
  color: var(--accent2);
}

li{
  list-style: none;
}

.question-group input, textarea, select{
  background-color: rgba(0,0,0,0);
}

::placeholder{
  color: rgba(239,218,185,0.5);
}

main, h1{
  width: 60%;
  margin: auto;
}

main{
  margin-top: 1.5em;
  border: 2px solid var(--main);
  padding: 2em 3em 3em 3em;
  border-radius: 30px;
}

article{
  width: 100%;
  margin: auto;
}

input[type="text"],input[type="email"],input[type="number"], select{
  color: var(--accent1);
  width: 50%;
  border-radius: 10px;
  border: 1px solid var(--main);
  padding: 0.5em;
}

select option{
  background-color: var(--bg1);
}

select{
  display: block;
  width: 96%;
}

.main-info input[type="text"]{
  text-transform: capitalize;
}

option .placeholder{
  color: rgba(239,218,185,0.5);
}

input:focus{
  color: var(--accent1);
  font-family: nunito, arial, sans-serif;
}

h1{
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header{
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1em;
  letter-spacing: 10px;
}

.subheader{
  color: var(--accent2);
  font-size: 0.5em;
  text-align: center;
  margin-bottom: 1em;
}

.subheader a:hover{
  color: var(--accent1);
  transition: 400ms ease-in;
}

#description{
  text-align: center;
  margin-bottom: 3em;
}

.question-group{
  width: 100%;
  margin: auto;
  margin-top: 3em;
}

.question-group .question{
  font-weight: 700;
  margin-bottom: 1em;
}

.question-group select{
  margin-top: 1em;
}

.main-info{
  margin-bottom: 1em;
}

#name-label, #email-label, #number-label{
  font-family: nunito, arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.left{
  display: inline-block;
  width: 30%;
}

.main-info input{
  width: 60%;
}

input[type="radio"] + label{
  margin-right: 1em;
}

.checkboxes, .radio{
  margin-left: 0.5em;
}

input[type="radio"] + .text{
  margin-left: 0.5em;
}

/* customize the label (the container) */
.container{
  display: block;
  position: relative;
  padding-left: 2em;
  margin-bottom: 0.5em;
  cursor:pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default checkbox */
.container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* create custom checkbox */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--main);
}

.radio{
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--main);
  border-radius: 50%;
}

/* on mouse-over, add a grey background color */
/* select any .checkmark after the action of hovering over .container */
.container:hover input ~ .checkmark, .container:hover input ~ .radio {
  background-color: #C4BCB0;
}

/* when the checkbox is checked, add a background */
.container input:checked ~ .checkmark, .container input:checked ~ .radio{
  background-color: var(--accent1);
}

/* create the checkmark/indicator (hidden when not checked) */
.checkmark:after{
  content: "";
  position:absolute;
  display: none;
}

/* show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--bg1);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

textarea{
  width: 92%;
  font-family: nunito, arial, sans-serif;
  color: var(--accent1);
  border-radius: 10px;
  border: 1px solid var(--main);
  padding: 0.5em;
}

textarea:focus{
  color: var(--accent1);
  font-family: nunito, arial, sans-serif;
}

#submit{
  width: 100%;
  height: 35px;
  font-family: nunito, arial, sans-serif;
  font-weight: 700;
  font-size: 1em;
  /* font-weight: 900; */
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
  color: var(--bg1);
  background-color: var(--accent1);
  border-radius: 10px;
  border: none;
  margin-top: 3em;
  margin-bottom: 2em;
}

#submit:hover{
  background-color: #FBC02D;
  transition: 400ms ease-out;
}

footer{
  display: relative;
  width: 90%;
  text-align: center;
  margin: 1em auto 0 auto;
  padding-bottom: 10em;
  background-image: url(../img/camp.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.tagline{
  font-weight: 900;
}

.tagline a:hover{
  color: var(--accent1);
  transition: 400ms ease-in;
}

.separator {
  color: var(--accent1);
}

h3{
  font-size: 0.9em;
  font-weight: 100;
  font-style: italic;
  margin: 1.5em 0 1em 0;
}

.icon-list {
  display: inline-block;
  margin: auto;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  width: 30px;
}

.icons{
  fill:var(--main);
}

.icon-list:hover .icons{
  transition: 400ms ease-in;
  fill: var(--accent1);
}

img{
  display: block;
  margin: auto;
  bottom: 5em;
}

/* mobile view */
@media(max-width: 375px){
  main{
    padding: 20px;
    width: 76%;
  }
  article{
    width: 100%;
  }
  #name-label, #email-label, #number-label{
    letter-spacing: 2px;
  }
  .right{
    display: block;
  }
}

@media(min-width: 700px) and (max-width: 1199px){
  article{
    width: 60%;
  }
}

@media(min-width: 1200px){
  main{
    width: 40%;
  }

  article{
    width: 60%;
  }

  .main-info input{
    width: 65%;
  }

  select{
    width: 100%;
  }

  textarea{
    width: 95%;
  }
}

.name{
  color: var(--main);
  font-family: "reenie beanie", sans-serif;
  font-size: 2em;
}

.name:hover{
  color: var(--accent2);
  transition: 400ms ease-out;
}
